<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Amazon Workflow Tests" verbose="2" preserve-order="true">
        <classes>
            <class name="org.anitha.tests.SearchTest"/>
            <class name="org.anitha.tests.ProductPageTest"/>
            <class name="org.anitha.tests.GoToCartTest"/>
            <class name="org.anitha.tests.CheckOutTest"/>

        </classes>
    </test>
</suite>











